# ppsspp libretro retroarch.cfg

content_favorites_path = "/opt/retropie/configs/psp/content_favorites.lpl"
content_history_path = "/opt/retropie/configs/psp/content_history.lpl"
content_image_history_path = "/opt/retropie/configs/psp/content_image_history.lpl"
content_music_history_path = "/opt/retropie/configs/psp/content_music_history.lpl"
content_video_history_path = "/opt/retropie/configs/psp/content_video_history.lpl"
core_updater_buildbot_cores_url = "http://buildbot.libretro.com/nightly/linux/armhf/latest/"

input_remapping_directory = "/opt/retropie/configs/psp/"

#include "/opt/retropie/configs/all/retroarch.cfg"